@charset "utf-8";
@import url("./partials/base.css");
@import url("./partials/hero.css");

h1 {
    margin: 0 auto;
    padding: 20px 0;
    color: white;
    text-align: center;
    font-size: 42px;
}