@charset "utf-8";
@import url("./partials/base.css");
@import url("./partials/hero.css");
@import url("./partials/header.css");
@import url("./partials/nav.css");
@import url("./partials/carrusel.css");

.header{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

h3 {
    color: white;
    margin-left: 10px;
}

main {
    /* display: grid; */
    /* grid-template-rows: repeat(3, 1fr); */
}

.divNovedades img,
.divNovedades img,
.divMasVistos img {
    width: 300px;
    height: 150px;
    object-fit: cover;
}

.contenedorFila {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgMasVistos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn.cancel {
    background-color: var(--rojo);
    /* margin-left: px; */
}
.fila {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    /* margin-bottom: 30px; */
    /* margin-top: 5px; */
}


.item{
    display: flex;
    flex-direction: column;
}


.filtros{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}
.filtros #seleccionador{
    height: 20px;
}
@media (max-width: 1024px) {

}
@media(max-width: 768px) {
    img {
        width: 100%;
        height: auto;
        /* padding: 20px; */
        margin-bottom: 10px;
    }

    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 18px;
    }

    li a {
        font-size: 18px;
    }
}



@media(max-width: 576px) {
    .fila {
        grid-template-columns: repeat(2, 1fr);
    }
}

